@{
    ViewData["Title"] = "Перевірка Кукі";
}
<div class="container mt-4">
    <p class="alert alert-info">@ViewBag.CookieMessage</p>
    <a asp-action="Index" class="btn btn-primary">Назад</a>
</div>